.app {
  text-align: center;
}

.header-container {
  height: 100px;
  background-color: antiquewhite;
}

.map-list-container {
  display: flex;
  justify-content: left;
}

.list-container {
  padding: 0.5%;
  height: 29.5rem;
  overflow-y: scroll;
}