.app {
  text-align: center;
}

.header-container {
  height: 70px;
  border-bottom: 5px solid rgb(30, 105, 192);
}

.row {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.left {
  flex: 70%;
}

.right {
  flex: 30%;
  padding: 0.5%;
  height: 58rem;
  overflow-y: scroll; 
}