.app {
  text-align: center;
}

.header-container {
  height: 100px;
  background-color: antiquewhite;
}

.map-container {
  display: flex;
}

.list-container {
  padding: 0.5%;
  height: 35rem;
  overflow-y: scroll; 
} 

.chart-container {
  height: 20rem;
  background-color: red;
}